<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TopicVoter App</title>
</head>
<body>
    <h1>Things to Learn</h1>

    <form action="/createTopic" method="post">
        <input type="text" name="title" placeholder="Title" required="required"/>
        <input type="text" name="description" placeholder="Description"/>
        <input type="submit" name="submit" value="Add!"/>
    </form>

    <ul>
        <li th:each="topic: ${topics}">
            <span th:text="${topic.title}"></span>
            --
            <span th:text="${topic.description}"></span>
            <span><form action="/deleteTopic" method="post">
                <input type="hidden" th:value="${topic.id}" name="id"/>
                <input type="submit" value="Delete"/>
            </form></span>
        </li>
    </ul>

</body>
</html>